<!doctype html>
<html lang="en" ng-app="application" ng-controller="mainController">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GrindFind</title>
    <link href="assets/css/app.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="img/ico" href="assets/img/icons/GF_FAVICON2.png">
    <script src="assets/js/foundation.js"></script>
    <script src="assets/js/templates.js"></script>
    <script src="assets/js/routes.js"></script>
    <script src="assets/js/app.js"></script>
    </div>
</head>

<body ng-controller="userController" zf-esc-close>

    <!-- Error notifications -->
    <zf-notification-set id="error-notifications" position="top-left"></zf-notification-set>
    <div ng-controller="getPlaces">
        <div zf-offcanvas="" id="menu" class="off-canvas detached" position="right">
            <a zf-close="" class="close-button">×</a>
            <div ng-include="'templates/nav/menu.html'"></div>
        </div>

        <div zf-modal="newplace" id="createModal" class="grid-content small-12">
            <div ng-include="'templates/modals/createPlace.html'"></div>
        </div>

        <div zf-modal="about" id="aboutModal" class="grid-content small-12">
            <div ng-include="'templates/modals/about.html'"></div>
        </div>

        <div zf-modal="help" id="helpModal" class="grid-content small-12">
            <div ng-include="'templates/modals/help.html'"></div>
        </div>

        <div zf-modal="settings" id="settingsModal" class="grid-content small-12">
            <div ng-include="'templates/modals/settings.html'"></div>
        </div>

        <div zf-modal="login" id="loginModal" class="grid-content small-12">
            <div ng-include="'templates/modals/login.html'"></div>
        </div>

        <div zf-modal="about" id="newcommentModal" class="grid-content small-12">
            <div ng-include="'templates/modals/createComment.html'"></div>
        </div>

        <div zf-modal="editPlace" id="editPlaceModal" class="grid-content small-12">
            <div ng-include="'templates/modals/editPlace.html'"></div>
        </div>

        <div class="grid-frame vertical">
            <div class="grid-block shrink wrap">
                <div class="grid-content collapse small-12 medium-7">
                    <div class="title-bar">
                        <span class="left title"><a href="#!/home">GrindFind</a></span>
                        <span class="right hide-for-medium">
                            <span class="title mobileinlogg">
                                <a ng-if="user">{{ user.username }} ({{ user.id }})</a>
                                <a ng-if="!user" zf-open="loginModal">Ej inloggad</a>
                            </span>
                            <a href="#" zf-toggle="menu">
                                <img src="assets/img/icons/menu.png">
                            </a>
                        </span>
                    </div>
                </div>
                <div class="grid-content collapse medium-5 hide-for-small-only">
                    <div class="title-bar">
                        <span class="right title">
                            <a ng-if="user">{{ user.username }} ({{ user.id }})</a>
                            <a ng-if="!user" zf-open="loginModal">Ej inloggad</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="content-area grid-block">
                <div ng-include="'templates/map.html'" ng-class="{ 'hide-for-small-only': !isActive('/')}" class="grid-block map-holder small-12 medium-7" ng-controller="mapController">
                </div>
                <div ng-class="['ui-animation']" ui-view ng-class="{ 'hide-for-small-only': isActive('/')}" class="grid-block small-12 medium-5 main-content">
                </div>
            </div>
        </div>
    </div>
</body>

</html>
