@import "settings";
@import "foundation";
@import "map";
@import "place";
@import "home";
@import "homemap";
@import "slick";
@import "slick-theme";
@import "checkin";
@import "createnewplace";
@import "modal";
@import "menu";



/* Ugly haxx. The map is never removed. The content gets a background color so that the map is not revealed */

h1,h2,h3,h4,h5,h6 {
    a {
        color: #222;

        &:hover {
            color: scale-color(#222, $lightness: 35%);
        }
    }
}

.main-content > .grid-block > * {
    background: #fff;
}

.title-bar {

    a {
        color: #fff;

    }

}


.circle {
    border-radius: 50%;
    background-color: $purple;
    cursor: pointer;
    height:50px;
    width:50px;
    display:table-cell;
    vertical-align:middle;

    img {
        display:table-cell;
        vertical-align:middle;
        margin:0 auto;
    }

    &:hover {

        background-color: scale-color($purple, $lightness: -15%);

    }

}

.tag {
    margin-right: 0.5em;
    text-transform: uppercase;
}

.off-canvas {

    .close-button {
        display: none;
    }

    ul.menu-bar {

        padding: 0 10px 10px;
        background-color: $dark-blue;

        li {

            background-color: $primary-color;
            margin-bottom: 10px;

            a {

                padding: 5px;
                line-height: 50px;

                img {

                    vertical-align: middle;
                    margin: 0 5px 0 0;

                }

            }

        }

        li.is-sub {

            margin-left: 30px;

        }

    }

}

 .map-menu {
    height: 128px;
    z-index: 1;

 }

.search-group {

    padding: 10px;
    background-size: 36px 36px;
    background-image: url(assets/img/icons/search-black.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    background-color: #fff;

    .inline-label {
        height: 60px;
        margin-bottom: 0;
    }

    .search-input {

        line-height: 60px;
        height: 60px;
        border: 0;
        background-color: transparent;
        padding-left: 50px;

    }

    .search-input:focus, .search-input:hover {

        background-color: transparent;
        border: 0;

    }

}

.sort-block {
    border: 1px #ccc solid;
    padding: 20px;
    background-color: #eee;
    margin-bottom: 30px;
}

@include breakpoint(small only) {

.sub-menu {
    display: none !important;
}

.search-group {

    padding: 0px;
    margin: 10px;

}

}

