.checkbox-grid li {
    display: block;
    float: left;
    width: 50%;
    list-style-type: none;

}
.checkbox-grid ul {
	margin-left: -1.1rem !important;
	margin-bottom: 2rem;
}
.photo_button {
background: #055A72;

	&:hover {

	background: scale-color(#055A72, $lightness: -15%);

	}

}

.modal {
	height: inherit !important;
}