a {
    margin: auto;
    text-align: center;
}

.front-tiles {
    .front-tile {
        a {
            h4 {
                color: #222;
                font-family: $header-font-family;
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }
    .tile-1, .tile-4, .tile-2, .tile-3 {
        background-color: #fff;
        border: 1px #eee solid;
        margin: 0;
    }
}

img.fixed-top-right, img.fixed-top-right-2, img.fixed-bottom-right, img.fixed-bottom-left, .overlay-icon {
    background-color: black !important;
    border-radius: 25px;
    position: fixed;
    padding: 5px;
    width: 40px;
    height: 40px;
    z-index: 99;
    -webkit-backface-visibility: hidden;
}

img.fixed-top-right {
    top: 60px;
    right: 20px;
}

img.fixed-top-right-2 {
    top: 60px;
    right: 65px;
}

img.fixed-bottom-right {
    bottom: 10px;
    right: 20px;
}

img.fixed-bottom-left {
    bottom: 10px;
    left: 20px;
}

img.fixed-bottom-center {
    background-color: black !important;
    position: absolute;
    top: -50px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: block;
}

a.size1 {
    width: 40px;
    height: 40px;
    position: absolute;
}

.close-button {
    z-index: 999999;
    color: #000;
}

.close-button:hover {
    color: #ddd;
}

div.front-tiles2 {
    height: 100%;
    width: 100%;
}

.grid-content.show-for-small-only {
    padding: 0rem !important;
}

.front-tiles {
    height: 100% !important;
}

.action-sheet {
    height: 50% !important;
    padding: 0 !important;
}

.action-sheet-container .grid-block {
    margin-left: inherit !important;
    margin-right: inherit !important;
}

.action-sheet.is-active img.fixed-bottom-center {
    top: -55px;
}

.marg-bot {
    margin-bottom: 15px;
}

.panel-top {
    // height: 270px !important;
    height: inherit;
}

.panel-top.is-active {
    position: fixed !important;
    margin-top: 49px;
}

.panel {
    overflow: hidden;
    padding: 15px;
}

.filtersheet {
    .grid-content .grid-block {
        margin-left: 1px !important;
        margin-right: 1px !important;
        overflow: hidden;
    }
    label {
        margin-top: 15px;
    }
}

.top_sheet_hide {
    font-family: Arial;
}

@include breakpoint(small only) {
    .top_sheet_content {
        .top_sheet_hide {
            display: none !important;
        }
    }
    .front-tiles {
        position: absolute;
        height: 50%;
        width: 100%;
        bottom: 0;
        display: block;
    }
}
