a {
    margin: auto;
    text-align: center;
}

.front-tiles {
    .front-tile {
        a {
            h4 {
                color: #222;
                font-family: $header-font-family;
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }
    .tile-1,
    .tile-4,
    .tile-2,
    .tile-3 {
        background-color: #fff;
        border: 1px #eee solid;
    }
}
