.map-holder {
    z-index: 10000;
}

.angular-google-map {
    height: 100%;
    width: 100%;
    position: absolute;
}

.angular-google-map-container {
    width: 100%;
    height: 100%;
    position: absolute;

    img {
        max-width: none;
    }

}

@include breakpoint(small only) {
    div.angular-google-map-container {
        height: 100%;
        width: 100%;
        display: block;
        clear: both;
    }
    div.map-holder {
        height: 50%;
        width: 100%;
        display: block;
        position: absolute;
    }
    div.front-tiles {
        position: absolute;
        height: 50%;
        bottom: 0;
        display: block;
    }
}

img.icon1 {
    background-color: black !important;
    position: absolute;
    top: 25px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    padding: 5px;
    z-index: 2;
    border: 1px white solid;
}

img.icon2 {
    background-color: black !important;
    position: absolute;
    top: 75px;
    width: 40px;
    height: 40px;
    right: 20px;
    padding: 5px;
    border-radius: 25px;
    z-index: 2;
    border: 1px white solid;
}

img.icon3 {
    background-color: black !important;
    position: absolute;
    bottom: 25px;
    width: 40px;
    height: 40px;
    right: 20px;
    padding: 5px;
    border-radius: 25px;
    z-index: 2;
    border: 1px white solid;
}
img.icon4 {
    background-color: black !important;
    position: absolute;
    bottom: 25px;
    width: 40px;
    height: 40px;
    left: 20px;
    padding: 5px;
    border-radius: 25px;
    z-index: 2;
    border: 1px white solid;
}


img.menu1 {
    background-color: black !important;
    position: absolute;
    top: -65px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: block;
    border: 1px white solid;
}
a.size1 {
    width: 40px;
    height: 40px;
    position: absolute;
}

.close-button {
    z-index: 999999;
    color: #000;
}

.close-button:hover {
    color: #ddd;
}


div.front-tiles2 {
    height: 100%;
     width: 100%;

}

.grid-content.show-for-small-only {
    padding: 0rem !important;
}

.front-tiles {
    height: 100% !important;
}

.action-sheet {
    height: 50% !important;
    padding: 0 !important;
}

.action-sheet.is-active img.menu1 {
    top: -55px;
}
.marg-bot {
    margin-bottom: 15px;
}
.panel-top {
    height: 200px !important;
}

.panel {
    overflow: hidden;
    padding: 15px;
}

.filtersheet {

    .grid-content .grid-block {
        margin-left: 1px !important;
        margin-right: 1px !important;
        overflow: hidden;
    }

    label {
        margin-top: 15px;
    }

}
#top_sheet {
    
    .close-button {
        top: 0.5rem !important;
        right: 0.5rem !important;
    }
}

@include breakpoint(small only) {
    .test {
        .hide_stuff {
            display: none !important;
        }
    }
}