.map-holder {
    z-index: 1000;
    overflow: hidden;
}

.angular-google-map {
    height: 100%;
    width: 100%;
    position: absolute;
}

.angular-google-map-container {
    width: 100%;
    height: 100%;
    position: absolute;

    img {
        max-width: none;
    }

}

ui-gmap-google-map {
    margin-top: 128px;
}

@include breakpoint(small only) {

    ui-gmap-google-map {
        margin-top: 0;
    }

    div.angular-google-map-container {
        height: 100%;
        width: 100%;
        display: block;
        clear: both;
    }
    div.map-holder {
        height: 50%;
        width: 100%;
        display: block;
        position: absolute;
    }
    div.front-tiles {
        position: absolute;
        height: 50%;
        bottom: 0;
        display: block;
    }
}

.placeMapController {
    position: relative;
    height: 200px;
    margin-bottom: 1em;
}

.placeMapController ui-gmap-google-map {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
}

.gm-style-mtc {
    visibility: hidden;
}