.map-holder {
    z-index: 10000;
}

.angular-google-map {
    height: 100%;
    width: 100%;
    position: absolute;
}

.angular-google-map-container {
    width: 100%;
    height: 100%;
    position: absolute;

    img {
        max-width: none;
    }

}

@include breakpoint(small only) {
    div.angular-google-map-container {
        height: 100%;
        width: 100%;
        display: block;
        clear: both;
    }
    div.map-holder {
        height: 50%;
        width: 100%;
        display: none;
        position: absolute;
    }
    div.front-tiles {
        position: absolute;
        height: 50%;
        bottom: 0;
        display: none;
    }
}