.map-holder {
    overflow: hidden;
}

.angular-google-map {
    height: calc(100% - 64px);
    width: 100%;
    position: absolute;
}

.angular-google-map-container {
    width: 100%;
    height: 100%;
    position: absolute;
    img {
        max-width: none;
    }
}

ui-gmap-google-map {
    margin-top: 128px;
}

@include breakpoint(small only) {
    ui-gmap-google-map {
        margin-top: 0;
    }
    .angular-google-map {
        height: 100%;
    }
}

.placeMap {
    position: relative;
    height: 200px;
    margin-bottom: 1em;
}

.placeMap .angular-google-map {
    height: 100%;
}

.placeMap ui-gmap-google-map {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
}

.gm-style-mtc {
    visibility: hidden;
}
