.off-canvas {
    /* This is because there should be some space to top */
    padding-top: 1em;
}

.findme {
    opacity: 1;
    line-height: 60px;
    margin-left: 20px;
    img:hover {
        opacity: 0.7;
    }
}

.sub-menu {
    li {
        width: 25%;
    }
}

.mobileinlogg {
    font-size: 10px;
    margin-right: 1em;
}
