aside.modal{
	padding: 1rem 0 0 0;
	overflow: auto;
	z-index:1001;
}

.fixedclosed{
	position: fixed;
	right: 2rem;
}

.notification {
    background-color: #E40009;
    top: 2em;
}

.modal {
	.button {
		margin: 0 0rem 1rem 0 !important;
	}
}

.button.fb {
	background-color: #3b5999;
}

@include breakpoint(medium) {
	.flyt-right {
		float: right !important;
	}
	.flyt-left {
		float: left !important;
	}
}