---
name: about
url: /about
animationIn: fadeIn easeInOut
animationOut: fadeOut easeInOut
---

<section  class="grid-block">


    <div class="grid-content small-12">

        <div class="grid-block">
            <div class="small-12">
            </div>
        </div>

        <h2>Om oss och GrindFind</h2>

        <!-- INNEHÅLL -->
        <div class="grid-content small-12">
            <div class="grid-block small-12">
                <p>Vi är nio stycken studenter från Malmö Högskola som har utvecklat denna webbapplikation som examensprojekt våren 2015, vi är fyra Informationsarkitekter och fem systemutvecklare. Gruppen har varit uppdelade i två olika produktionsteam där informationsarkitekterna har haft ansvar för front end och design och systemutvecklarna har haft hand om backend och databas. </p>
                <p>Denna webbaplikation är skapad i sammarbete med Internet of Sports vid Malmö Högskola samt Internet of Things and People. </p>
                <p>Tanken med appen är att ni användare skall dela med er av era bästa skateplatser, betygsätta platser och lämna kommentarer allt för att få så mycket information som möjligt om bra platser att skejta!
               <h5>Hjälp oss hitta de dolda juvelerna i stadsbilden!</h5></p>



            </div>
        </div>
    <div>

</section>