---
name: checkin
url: /checkin
animationIn: fadeIn easeInOut
animationOut: fadeOut easeInOut
---    


<section class="grid-block">

    <div class="grid-content small-12">

       <h2>Checka in - Berätta för dina vänner var du är!!</h2>

        <!-- INNEHÅLL -->
        <div class="grid-content small-12">
            <div class="grid-block small-12">
              
                <div>
                    <img zf-iconic="" icon="circle-check" size="medium" class="iconic-color-primary">
                </div>
            </div>
        </div>
    </div>

</section>