---
name: createnewplace
url: /createnewplace
animationIn: hingeInFromMiddleY bounceInOut
animationOut:  zoomOut bounceInOut 
---
<section  class="grid-block">
	<div class="grid-content small-12">
	        <h2>Skapa ny plats</h2>
	            
    
    <div class="grid-content small-12">
	            <div class="grid-block small-12">
	            	<p>Här kan du lägga in och skapa en ny skateplats!</p>
	            </div>
		
		<form>
			<label>
				Namn på plats
				<input type="text" placeholder="Text field">
			</label>
				<div class="grid-block">
				<div class="small-6 medium-6 large-6 grid-content">
					<label>Kategori</label>
						<select name="" id="">
							<option value="">Grind</option>
							<option value="">Ramp</option>
							<option value="">Skatepark</option>
						</select>
			<label>
				Beskrivning:
				<textarea class="small-12" name="describe" cols="30"></textarea>
			</label>
			<label>Betyg
				<span class="badge">4</span></label>

			<p><button>Lägg till bild</button></p>
			<input type="submit" value="Submit">
			
			
		</form>
		
	
	</div>
</section>		