<section  class="grid-block">
    <div class="grid-content small-12">

        <h2>Kontakta oss!</h2>
        <p><i>Har du problem? Är det något som inte fungerar som det ska?</i></p>
        <p><b>E-mail</b>: mah.grindfind@gmail.com</p>
        <p><b>Telefon</b>: 040-13371337</p>
        <p><b>Adress</b>: grindfind.se</p>
        <a zf-close="" class="close-button">×</a>

        <div class="grid-content small-12">

               <!-- <form action="MAILTO:mah.grindfind@gmail.com" method="post" enctype="text/plain">

                        <label>Namn:<input type="text" placeholder="Namn" name="namn">
                        </label>
                        <label>Epost:<input type="text" placeholder="Epost" name="email">
                        </label>
                        <label>Fråga:
                            <textarea class="small-12" name="meddelande" cols="50" rows="5"></textarea>
                        </label>


                        <input type="submit" value="Skicka">



                </form>-->

            </div>
        </div>


</section>