<section  class="grid-block">
    <div class="grid-content small-12">

        <h2>Kontakta oss!</h2>
        <p>Har du problem? Är det något som inte fungerar som det ska?</p>
        <a zf-close="" class="close-button">×</a>

       <!-- <div class="grid-content small-12">-->
            <p> Maila oss på <a href="mailto:info@grindfind.nu">info@grindfind.nu</a></p>
                <!--<form action="MAILTO:someone@example.com" method="post" enctype="text/plain">

                        <label>Namn:<input type="text" placeholder="Namn">
                        </label>
                        <label>Epost:<input type="text" placeholder="Epost">
                        </label>
                        <label>Fråga:
                            <textarea class="small-12" name="describe" cols="50" rows="5"></textarea>
                        </label>


                <button class="button float-right ">Spara</button>



                </form>-->

            <!--</div>-->
        </div>


</section>