---
name: help
url: /help
animationIn: fadeIn easeInOut
animationOut: fadeOut easeInOut
---

<section  class="grid-block">


    <div class="grid-content small-12">

        <div class="grid-block">
            <div class="small-12">
            </div>
        </div>

        <h2>Hjälp</h2>

        <!-- INNEHÅLL -->
        <div class="grid-content small-12">
            <div class="grid-block small-12">
                <p>Har du problem? är det något som inte fungerar som det ska?</p>

                <h2>Kontakta oss!</h2>
                <form action="MAILTO:someone@example.com" method="post" enctype="text/plain">

                        <label>Namn:<input type="text" placeholder="Namn">
                        </label>
                        <label>Epost:<input type="text" placeholder="Epost">
                        </label>
                        <label>Fråga:
                            <textarea class="small-12" name="describe" cols="50"></textarea>
                        </label>
                        <input type="submit" value="Submit">

                    <input type="reset" value="Reset">


                    </form>

            </div>
        </div>
    <div>

</section>