---
name: homemap
url: /homemap
animationIn: fadeIn easeInOut
animationOut: fadeOut easeInOut
---

<div class="grid-content grid-block show-for-small-only">

    <div ng-include="'templates/map.html'" class="grid-block" ng-controller="mapController">

        
    </div>
        <a href="#"><img class="bajs1" src="assets/img/icons/map.png"></a>
        <a href="#"><img class="bajs2" src="assets/img/icons/pin.png"></a>

        <a href="#"><img class="bajs3" src="assets/img/icons/fix-position.png"></a>

        <a href="#"><img class="bajs4" src="assets/img/icons/pin-check.png"></a>
</div>

