---
name: listings
url: /
animationIn: hingeInFromMiddleY bounceInOut
animationOut:  zoomOut bounceInOut
---

<section  class="vertical grid-block"
ng-init="skatespots = [
{name: 'Stapelbäddsparken', images: [], tags: ['halfpipe'], rating: '4', description: 'Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu massa vestibulum malesuada, integer vivamus elit eu mauris eu, cum eros quis aliquam nisl wisi.', lon: '', lat: ''} ,
{name: 'Centralen', images: [], tags: ['grind'], rating: '3', description: 'Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu massa vestibulum malesuada, integer vivamus elit eu mauris eu, cum eros quis aliquam nisl wisi.', lon: '', lat: ''},
]">

    <div class="grid-content">
        <h2 class="text-center">Skatespots</h2>
        <p class="subheader">A list of skatespots</p>
    </div>

    <div class="grid-content" ng-repeat="spot in skatespots">
        <div>
            <img src="">
        <div>
        <h3>
            {{spot.name}}
            <span clas="badge align-right">{{spot.rating}}</span>
        </h3>
    </div>

    <div class="card-section">
        <p>{{spot.description}}</p>
    </div>
</div>