---
name: inställningar
url: /installningar
animationIn: fadeIn easeInOut
animationOut: fadeOut easeInOut
---

<section  class="grid-block">

    <div class="grid-content small-12">
        <h2>Inställningar</h2>
        <p>Här kan du ställa in dina preferenser</p>

        <!-- INNEHÅLL -->
        <div class="small-12 medium-6 grid-content">
            <div class="grid-block small-12">

                
            <div class="small-12 medium-6 grid-content">
                <h4>Innehåll:</h4>
            
             <div class="small-12 medium-6 grid-content">       
                    <label>Startsida:
                        <div class="switch">
                            <input type="checkbox" id="switch-example">
                            <label for="switch-example"></label>
                        </div></label>
                    </div>
                    <div class="small-12 medium-6 grid-content">
                    <label>Platsvy:
                        <div class="switch">
                            <input type="checkbox" id="switch-example">
                            <label for="switch-example"></label>
                        </div>
                    </div>  
                   </div> 
            </div>
        </div>
            <div class="small-12 medium-6 grid-content">
                <h4>Platsvy:</h4>
            
             <div class="small-12 medium-6 grid-content">       
                    <label>Lista:
                        <div class="switch">
                            <input type="checkbox" id="switch-example">
                            <label for="switch-example"></label>
                        </div></label>
                    </div>
                    <div class="small-12 medium-6 grid-content">
                    <label>Karta:
                        <div class="switch">
                            <input type="checkbox" id="switch-example">
                            <label for="switch-example"></label>
                        </div>
                    </div>
                <input type="submit" value="Submit">
            </div>
        </div>
    <div>

</section>