---
name: login
url: /login
animationIn: fadeIn easeInOut
animationOut: fadeOut easeInOut
---

<section  class="grid-block">


    <div class="grid-content small-12">

        <h2>Logga in</h2>

        <!-- INNEHÅLL -->
        <div class="grid-content small-12">
            <div class="grid-block small-12">
               
                <div>
                    <a href="#" class="large button"><img zf-iconic="" icon="person" size="medium" class="iconic-color-primary">Logga in via Facebook</a>
                </div>
            </div>
        </div>
    </div>

</section>