<h4 class="off-canvas-heading">GrindFind</h4>
<div ng-include="'/templates/search.html'"></div>
<ul class="vertical menu-bar">
<li><a href="#!/home"><img src="assets/img/icons/home.png">Hem</a></li>
<li><a href="#!/placelist"><img src="assets/img/icons/pin.png">Platser</a></li>
<li class="is-sub"><a href="#!/placelist"><img src="assets/img/icons/pin-plus.png">Lägg till plats</a></li>
<li class="is-sub"><a href="#!/checkin"><img src="assets/img/icons/pin-check.png">Checka in</a></li>
<li><a href="#!/settings"><img src="assets/img/icons/settings.png">Inställningar</a></li>
<li><a href="#!/login"><img src="assets/img/icons/facebook.png">Logga in</a></li>
<li><a href="#!/login"><img src="assets/img/icons/help.png">Hjälp</a></li>
<li><a href="#!/login"><img src="assets/img/icons/info.png">Om</a></li>
</ul>