---
name: menu
url: /menu
animationIn: fadeIn easeInOut
animationOut: fadeOut easeInOut
---

<ul class="vertical menu-bar">
<li><a href="#"><img src="assets/img/icons/pin.png">Hem</a></li>
<li><a href="#">

	<img src="assets/img/icons/pin.png">Platser</a>
	<ul class="vertical menu-bar">
		<li><a href="#"><img src="assets/img/icons/pin.png">Sök</a></li>
		<li><a href="#"><img src="assets/img/icons/pin.png">Lägg till</a></li>
	</ul>
</li>
<li><a href="#"><img src="assets/img/icons/pin.png">Checka in</a></li>
<li><a href="#"><img src="assets/img/icons/settings.png">Inställningar</a></li>
<li><a href="#"><img src="assets/img/icons/pin.png">Logga ut</a></li>
</ul>