---
name: createnewcomment
url: /createnewcomment
animationIn: hingeInFromMiddleY bounceInOut
animationOut:  zoomOut bounceInOut
---
<section  class="grid-block">
	<div class="grid-content small-12">
	        <h2>Lägg till kommentar</h2>
	            
    
    <div class="grid-content small-12">
	            <div class="grid-block small-12">
	            	<p>Här kan du lägga in och skapa en ny skateplats!</p>
	            </div>
		
		<form>
			<label>
				Beskrivning:
				<textarea name="describe" rows="10" cols="30">
				</textarea>
			</label>
			<label>Betyg
				<span class="badge">4</span></label>

			<p><button>Lägg till bild</button></p>
			<input type="submit" value="Submit">
			
			
		</form>
		
	
	</div>
</section>		