<section  class="grid-block">
	<div class="grid-content small-12">
	<h2>Lägg till kommentar</h2>
	<a zf-close="" class="close-button">×</a>
	<div class="grid-content small-12">
		            <div class="grid-block small-12">
		            	<p>Här kan du lägga in och skapa en ny kommentar till en skateplats!</p>
		            </div>

			<form>
				<label>
					Beskrivning:
					<textarea name="description" cols="30" rows="5"></textarea>
				</label>

			<div class="small-12 medium-12">
				<button class="button photo_button float-left">Lägg till bild</button>
				<button class="button float-right ">Spara</button>
			</div>

			</form>

	</div>
	</div>
</section>