---
name: placelist
url: /placelist
animationIn: fadeIn easeInOut
animationOut: fadeOut easeInOut
---

<section class="vertical grid-block">

    <div class="grid-content">

        <ng-include src="'templates/sortfilter.html'"></ng-include>

        <h2>Skateplaces</h2>
        <p>A list of skateplaces</p>

    <div class="grid-content" ng-repeat="place in places">
        <div class="grid-block">
            <div class="medium-4 small-12">
                <img src="{{place.images[0].uri}}">
            </div>
            <div class="medium-offset-1 medium-6 small-12">
                <div>
                    <h3>
                    <a href="#!/place/{{place.id}}">{{place.title}}</a><div ng-app="app" ng-controller="RatingCtrl" class="container rating float-right">
              <div star-rating ng-model="place.rating" max="5" on-rating-selected="rateFunction(place.rating)"></div>
                    </h3>
                </div>
                <div class="vertical">
                    <p class="label tag" ng-repeat="tag in place.tags">
                        {{tag}}
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-block">
            <p>{{place.description}}</p>
        </div>
    <div>

</section>