---
name: place
url: /place/:placeId
animationIn: hingeInFromMiddleY bounceInOut
animationOut:  zoomOut bounceInOut
---

<section class="grid-block" ng-init="place = {
        title: 'Stapelbäddsparken',
        images: [
            {
                uri: 'assets/img/spot_placeholder.jpg'
            },
            {
                uri: 'assets/img/spot_placeholder2.jpg'
            }
        ],
        rating: '4',
        tags: ['Ramp'],
        description: 'Beskrivning på plats kommer här. Stapelbäddsparken ligger i Malmö och är jätterolig att åka skateboard på. Det finns väldigt många trevliga människor i alla olika åldrar. Vill du köpa knark är det också ett bra ställe. Ner med patriarket!',
        checkinsNow: '4',
        checkinsTotal: '434',
        comments: [
            {
                user: 'A user',
                dateTime: '2015-04-01 12:00:00',
                comment: 'April, april!'
            },
            {
                user: 'Another user',
                dateTime: '2015-04-01 13:00:00',
                comment: 'Sluta luras!'
            },
            {
                user: 'John Doe',
                dateTime: '2015-04-01 13:37:00',
                comment: 'Grymt ställe!'
            }
        ]
    }">

    <div class="grid-content small-12">
        <div class="small-12">
            <ul class="grid-block">
                <li ng-repeat="image in place.images" class=""><img src="{{image.uri}}"></li>
            </ul>
        </div>
        <div class="small-12">
            <h2 class="small-12">{{place.title}}</h2>
            <div ng-app="app" ng-controller="RatingCtrl" class="container rating">
                <star-rating ng-model="place.rating" readonly="isReadonly"></star-rating>
              <!--<div star-rating ng-model="place.rating" max="5" on-rating-selected="rateFunction(place.rating)"></div>-->
        </div>
        <div class="small-12">
            <p class="label tag" ng-repeat="tag in place.tags">
                {{tag}}
            </p>
        </div>

        <div class="small-12">
            <p>{{place.description}}</p>
        </div>

        <div class="small-12">
            <p>{{place.checkinsNow}} incheckningar just nu ({{place.checkinsTotal}} totalt)</p>
        </div>

        <div class="small-12">
            <div class="small-12">
                <h3>Kommentarer</h3>
            </div>
            <div class="card small-12" ng-repeat="comment in place.comments">
                <div class="card-divider">
                    {{comment.user}} <span class="float-right"><small>{{comment.dateTime}}</small></span>
                </div>
                <div class="card-section">
                    {{comment.comment}}
                </div>
            </div>
        </div>
    </div>

</section>
