---
name: place
url: /place
animationIn: hingeInFromMiddleY bounceInOut
animationOut:  zoomOut bounceInOut
---
<div class=" grid-block small-12">
  <!-- Add search bar -->
</div>
	

<div id="slider">
    <img src="/assets/img/spot_placeholder.jpg" alt="Platshållare för bildspel">
</div>
<div class="grid-block">
<div id="sidebar" class="small-10 grid-block"></div>
<div id="main" class="small-2 grid-block">BETYG</div>
</div>
<div>
	<h1>Stapelbäddsparken</h1>
	<h3>RAMP</h3>
	<p>Beskrivning på plats kommer här. Stapelbäddsparken ligger i Malmö och är jätterolig att åka skateboard på. Det finns väldigt många trevliga människor i alla olika åldrar. Vill du köpa knark är det också ett bra ställe. Ner med patriarket!</p>
</div>
<div>
	<p>X incheckningar just nu (14.534 totalt)
</div>

<div>
	<h3>Kommentarer</h3>
	<div>Lorem ipsum</div>
	<div>Lorem ipsum</div>
	<div>Lorem ipsum</div>
	<div>Lorem ipsum</div>
	<div>Lorem ipsum</div>
	<div>Lorem ipsum</div>
	<div>Lorem ipsum</div>
</div>



