---
name: placelist
url: /placelist
animationIn: fadeIn easeInOut
animationOut: fadeOut easeInOut
---

<section class="vertical grid-block">

    <div class="grid-content">

        <ng-include class="show-for-medium" src="'templates/sortfilter.html'"></ng-include>

        <h2>Skateplatser</h2>
        <p>En lista på skateplatser</p>

        <div class="grid-content" ng-repeat="place in places">
            <div class="grid-block">

                <div class="medium-4 small-4">
                    <img src="{{place.images[0].uri}}">
                </div>

                <div class="small-offset-1 medium-6 small-6">
                    <div class="small-12 clearfix">
                        <h3 class="float-left">
                            <a href="#!/place/{{place.id}}">{{place.title}}</a></h3><div ng-app="app" ng-controller="RatingCtrl" class="container rating float-right">
                            <!--<star-rating ng-model="place.rating" readonly="isReadonly"></star-rating>-->
                            <!--<div star-rating ng-model="place.rating" max="5" on-rating-selected="rateFunction(place.rating)"></div>-->

                        <img zf-iconic="" icon="star" size="medium" class="iconic-color-warning float-left">

                    </div>
                </div>
                    <div class="vertical">
                        <p class="label tag" ng-repeat="tag in place.tags">{{tag}}</p>
                    </div>


                <div class="small-12">
                    <p>{{place.description}}</p>
                </div>

            </div>

        <div>
    </div>
</section>
