---
name: placelist
url: /placelist
animationIn: fadeIn easeInOut
animationOut: fadeOut easeInOut
---

<section class="vertical grid-block" ng-controller="getPlaces">

    <div class="grid-content">

        <ng-include src="'templates/sortfilter.html'"></ng-include>

        <h2>Skateplaces</h2>
        <p>A list of skateplaces</p>

    <div class="grid-content" ng-repeat="place in places">
        <div class="grid-block">
            <div class="medium-4">
                <img src="{{place.images[0].uri}}">
            </div>
            <div class="medium-offset-1 medium-6">
                <div>
                    <h3>
                        {{place.title}} <small><span class="badge float-right">{{place.rating}}</span></small>
                    </h3>
                </div>
                <div class="vertical">
                    <p class="label tag" ng-repeat="tag in place.tags">
                        {{tag}}
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-block">
            <p>{{place.description}}</p>
        </div>
    <div>

</div>