---
name: settings
url: /settings
animationIn: slideFromLeft
animationOut:  slideFromLeft
---

<section  class="grid-block">

    <div class="grid-content small-12">
        <h2>Inställningar</h2>
        <p>Personliga inställningar</p>

        <!-- INNEHÅLL -->
        <div class="grid-content small-12">
            <div class="grid-block small-12">
                <h3>Hemskärm</h3>
            </div>
            <div class="grid-block small-12">
                <input id="startPageDefault" type="radio" name="startPage"><label for="startPageDefault">Startsidan</label>
                <input id="startPagePlaces" type="radio" name="startPage"><label for="startPagePlaces">Platser</label>
            </div>
            <div class="grid-block small-12">
                <h3>Platsvy</h3>
            </div>
            <div class="grid-block small-12">
                <input id="placeViewMap" type="radio" name="placeView"><label for="placeViewMap">Karta</label>
                <input id="placeViewList" type="radio" name="placeView"><label for="placeViewList">Lista</label>
            </div>
        </div>
    <div>

</section>