---
name: sortfilter
url: /sortfilter
animationIn: fadeIn easeInOut
animationOut: fadeOut easeInOut
---

<section class="grid-block">

    <div class="grid-content small-12">
        <!-- <h2>Sortera &amp; filtrera</h2> -->

        <!-- INNEHÅLL -->
    <form>

        <div class="grid-block">

        <div class="small-12 medium-6 grid-content">
            <label>Sortera efter</label>
            <select name="sortingType" id="sortingType" ng-model="orderPlaces.property" ng-change="setOrderByProperty(selectedItem)">
                <option value="title">Namn</option>
                <option value="tags">Kategori</option>
                <option value="rating">Betyg</option>
            </select>
        </div>

        <div class="small-12 medium-6 grid-content">
            <label>Filtrera</label>
            <select ng-model="selectedItem" ng-options="tag.name for tag in filterTags" ng-change="setFilterByTag(selectedItem)">
                <option value="">Välj en tagg</option>
            </select>
        </div>

        <div class="small-12 grid-content">
            <input type="radio" ng-model="orderPlaces.invert" value="true" id="sortAscending" name="sortAscending"><label for="sortAscending">Stigande</label>
            <input type="radio" ng-model="orderPlaces.invert" value="false" id="sortDescending" name="sortDescending"><label for="sortDescending">Fallande</label>
        </div>

        <!-- <div class="small-12 medium-6 grid-content">
            <button class="button float-right">Skicka</button>
        </div> -->

        </div>
    </form>
    <div>

</section>