---
name: testing
url: /testing
animationIn: fadeIn easeInOut
animationOut: fadeOut easeInOut
---

<section class="vertical grid-block">

    <div class="grid-content">

        <ng-include class="show-for-medium" src="'templates/sortfilter.html'"></ng-include>

        <h2>Skateplatser</h2>
        <p>En lista på skateplatser</p>

        <div class="grid-content" ng-repeat="place in places">
            <div class="grid-block">

                <div class="medium-4 small-4">
                    <img src="{{place.images[0].uri}}">
                </div>

                <div class="small-offset-1 medium-6 small-6">

                    <div>
                        <h3>
                            <a href="#!/place/{{place.id}}">{{place.title}}</a><div ng-app="app" ng-controller="RatingCtrl" class="container rating float-right">
                            <star-rating ng-model="place.rating" readonly="isReadonly"></star-rating>
                        </h3>
                    </div>

                    <div class="vertical">
                        <p class="label tag" ng-repeat="tag in place.tags">{{tag}}</p>
                    </div>
                </div>

                <div class="small-12">
                    <p>{{place.description}}</p>
                </div>

            </div>

        <div>
    </div>
</section>

<section class="vertical grid-block" ng-app="skate.Search">

  <div class="grid-content" ng-controller="empCtrl">  

            <ng-include class="show-for-medium" src="'templates/sortfilter.html'"></ng-include>

        <h2>Skateplatser</h2>
        <p>En lista på skateplatser</p>
    <table>
        <tr>
            <td align="right">Search :</td>
            <td><input ng-model="query[queryBy]" /></td>
        </tr>           
        <tr>
            <td align="right">Search By :</td>
            <td>
                <select ng-model="queryBy">
                    <option value="$"></option>
                    <option value="name">NAME</option>
                    <option value="company">COMPANY</option>
                    <option value="designation">DESIGNATION</option>
                </select>   
            </td>
        </tr>
    </table>
    <hr>
    <div>
        <div class="grid-content" ng-repeat="place in places">
            <div class="grid-block">

                <div class="medium-4 small-4">
                    <img src="{{place.images[0].uri}}">
                </div>

                <div class="small-offset-1 medium-6 small-6">

                    <div>
                        <h3>
                            <a href="#!/place/{{place.id}}">{{place.title}}</a><div ng-app="app" ng-controller="RatingCtrl" class="container rating float-right">
                            <star-rating ng-model="place.rating" readonly="isReadonly"></star-rating>
                        </h3>
                    </div>

                    <div class="vertical">
                        <p class="label tag" ng-repeat="tag in place.tags">{{tag}}</p>
                    </div>
                </div>

                <div class="small-12">
                    <p>{{place.description}}</p>
                </div>

            </div>

        <div>
    </div>
  </div>
</section>