<section class="grid-block" ng-controller="addPlace">
    <div class="grid-content small-12">

        <a zf-close="" class="modal-close close-button">×</a>

        <div class="grid-content small-12">
            <h2>Skapa ny plats</h2>
            <form name="newPlace">
                <label for="newPlaceName">
                    <span class="inline-label">
                        <span class="form-label">Namn</span>
                        <input type="text" placeholder="Fyll i platsens namn..." id="newPlaceName" ng-model="newPlace.title" required>
                    </span>
                </label>

                 <label for="newPlaceCat">
                    <span class="inline-label">
                        <span class="form-label">Kategori</span>
                    <input type="text" placeholder="Fyll i kategori..." id="newPlaceCat" ng-model="newPlace.tags" required>
                    </span>
                </label>

                <label class="small-12 medium-6 flyt-left" for="newPlaceLong">
                    <span class="inline-label">
                        <span class="form-label">Long</span>
                    <input type="text" placeholder="Fyll i platsens longitude" id="newPlaceLong" ng-model="newPlace.longitude">
                    </span>
                </label>

                <label class="small-12 medium-6 flyt-right" for="newPlaceLat">
                    <span class="inline-label">
                        <span class="form-label">Lat</span>
                    <input type="text" placeholder="Fyll i platsens latitude" id="newPlaceLat" ng-model="newPlace.latitude">
                    </span>
                </label>

                <label for="newPlaceDescription">
                    <span class="form-label">Beskrivning</span>
                    <textarea class="small-12" cols="30" id="newPlaceDescription" ng-model="newPlace.description" required></textarea>
                </label>

                <div class="small-12 medium-12">
                    <input type="button" class="button photo_button float-left" style="position: absolute;" value="Välj en bild">
                    <input type="file" id="newPlacePic" ng-model="self" onchange="angular.element(this).scope().uploadFile(this.files)" class="float-left" style="position: absolute; z-index: 500; opacity: 0; height: 40px; width: 100px;">

                    <button class="button float-right" type="submit" ng-click="addPlace()">Spara</button>
                </div>

            </form>
        </div>

    </div>
</section>
