<section class="grid-block" ng-controller="getPlace">
    <div class="grid-content small-12">

        <h2>Redigera plats</h2>

        <a zf-close="" class="close-button">×</a>

        <div class="grid-content small-12" ng-controller="editPlace">
            <form name="editPlace" ng-submit="edit()">

                <input type="hidden" name="id" id="id" ng-model="place.id">
                <label>
                    Namn på plats
                    <input type="text" placeholder="Fyll i platsens namn..." ng-model="place.title">
                </label>

                <!--<div ng-controller="placeMapController" class="placeMapController">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' bounds="map.bounds" class="" pan="true">
                    </ui-gmap-google-map>
                </div>-->
                <label for="newPlaceLat">
                    Fyll i platsens latitude:
                    <input type="text" placeholder="Fyll i platsens latitude" ng-model="place.latitude">
                </label>

                <label for="newPlaceLong">
                    Fyll i platsens longitude:
                    <input type="text" placeholder="Fyll i platsens longitude" ng-model="place.longitude">
                </label>

                <label>
                    Beskrivning:
                    <textarea class="small-12" cols="30" ng-model="place.description"></textarea>
                </label>

                <label for="newPlaceCat">
                    Kategori:
                    <input type="text" placeholder="Fyll i kategori" ng-model="place.tagString" required>
                </label>

                <div class="small-12 medium-12">
                    <input type="button" class="button photo_button float-left" style="position: absolute;" value="Välj en bild">
                    <input type="file" id="placePic" ng-model="self" onchange="angular.element(this).scope().uploadFile(this.files)" class="float-left" style="position: relative; z-index: 500; opacity: 0;">
                    <button class="button float-right" type="submit">Spara</button>
                </div>

            </form>
        </div>

    </div>
</section>
