<section id="editPlace" class="grid-block" ng-controller="editPlace">
    <div class="grid-content small-12">

        <a zf-close="" class="modal-close close-button">×</a>

        <div class="grid-content small-12">
            <h2>Redigera plats</h2>
            <form name="Place">
                <label for="PlaceTitle">
                    <span class="inline-label">
                        <span class="form-label">Namn</span>
                        <input type="text" placeholder="Fyll i platsens namn..." id="PlaceTitle" ng-model="place.title" required>
                    </span>
                </label>

                 <label for="PlaceTags">
                    <span class="inline-label">
                        <span class="form-label">Kategori</span>
                    <input type="text" placeholder="Fyll i kategori..." id="PlaceTags" ng-model="place.tagString" required>
                    </span>
                </label>

                <div ng-controller="placeMapController" in-view="renderMap(place)" in-view-options="{debounce: 200}">
                    <!-- <a ng-click="renderMap(place)">Visa karta</a> -->
                    <div class="placeMap">
                        <div ng-include="'templates/placeMap.html'"></div>
                    </div>
                </div>

                <label class="small-12 medium-6 flyt-left hide-for-small" for="PlaceLng">
                    <span class="inline-label">
                        <span class="form-label">Long</span>
                    <input type="text" placeholder="Fyll i platsens longitude" id="PlaceLng" ng-model="place.longitude" disabled="disabled">
                    </span>
                </label>

                <label class="small-12 medium-6 flyt-right hide-for-small" for="PlaceLat">
                    <span class="inline-label">
                        <span class="form-label">Lat</span>
                    <input type="text" placeholder="Fyll i platsens latitude" id="PlaceLat" ng-model="place.latitude" disabled="disabled">
                    </span>
                </label>

                <label for="PlaceDescription">
                    <span class="form-label">Beskrivning</span>
                    <textarea class="small-12" cols="30" id="PlaceDescription" ng-model="place.description" required></textarea>
                </label>

                <div class="small-12 medium-12">
                    <input type="button" class="button photo_button float-left" style="position: absolute;" value="Välj en bild">
                    <input type="file" id="PlacePic" ng-model="self" onchange="uploadFile(this.files)" class="float-left" style="position: absolute; z-index: 500; opacity: 0; height: 40px; width: 100px;">

                    <button class="button float-right" type="submit" ng-click="editPlace()">Spara</button>
                </div>

            </form>
        </div>

    </div>
</section>