<section class="grid-block">
    <div class="grid-content small-12">

        <h2>Personliga inställningar</h2>

        <a zf-close="" class="close-button fixedclosed">×</a>

        <div class="grid-content small-12">
            <!-- INNEHÅLL -->
            <div class="grid-block small-12">
                <h3>Hemskärm</h3>
            </div>

            <div class="grid-block small-12">
                <input id="startPageDefault" type="radio" name="startPage">
                <label for="startPageDefault">Startsidan</label>
                <input id="startPagePlaces" type="radio" name="startPage">
                <label for="startPagePlaces">Platser</label>
            </div>

            <div class="grid-block small-12">
                <h3>Platsvy</h3>
            </div>

            <div class="grid-block small-12">
                <input id="placeViewMap" type="radio" name="placeView">
                <label for="placeViewMap">Karta</label>
                <input id="placeViewList" type="radio" name="placeView">
                <label for="placeViewList">Lista</label>
            </div>
        </div>

        <div class="small-12 medium-12">
            <button class="button float-right">Spara</button>
        </div>

    </div>
</section>
