<!-- NAVIGATION -->
<ul class="sub-menu dark menu-bar">
    <!-- <li><a href="#!/checkin">Checka in</a></li> -->
    <li ng-if="user"><a zf-open="createModal">Lägg till ny plats</a></li>
    <!-- <li><a zf-open="settingsModal">Inställningar</a></li> -->
    <li><a zf-open="aboutModal">Om</a></li>
    <li><a zf-open="helpModal">Hjälp</a></li>
    <li>
        <a ng-if="!user" zf-open="loginModal">Logga in</a>
        <a ng-if="user" ng-click="logout()">Logga ut</a>
    </li>
</ul>
<div ng-include="'templates/nav/search.html'" class="hide-for-small-only"></div>