<div ng-include="'templates/nav/search.html'"></div>
<ul class="vertical menu-bar">
	<li><a ui-sref="start" zf-toggle="menu"><img src="assets/img/icons/home.png">Hem</a></li>
	<li><a ui-sref="placelist" zf-toggle="menu"><img src="assets/img/icons/pin.png">Platser</a></li>
	<li class="is-sub"><a zf-open="createModal"><img src="assets/img/icons/pin-plus.png">Lägg till plats</a></li>
	<li class="is-sub"><a ui-sref="checkin" zf-toggle="menu"><img src="assets/img/icons/pin-check.png">Checka in</a></li>
	<li><a zf-open="settingsModal"><img src="assets/img/icons/settings.png">Inställningar</a></li>
	<li><a zf-open="loginModal"><img src="assets/img/icons/facebook.png">Logga in</a></li>
	<li><a zf-open="helpModal"><img src="assets/img/icons/help.png">Hjälp</a></li>
	<li><a zf-open="aboutModal"><img src="assets/img/icons/info.png">Om</a></li>
</ul>